# Ignore the virtual environment directory
env/

# Ignore other common files
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore environment files
.env

# Ignore Django migrations
*/migrations/

# Ignore local settings
local_settings.py
